/* Auth.css */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    margin-top: -5rem;
  }
  
  .auth-card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .auth-card h2 {
    margin-bottom: 1.5rem;
    font-size: 24px;
    color: #000;
  }
  
  .auth-card input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
  }
  
  .auth-card input:focus {
    border-color: #000;
    outline: none;
  }
  
  .auth-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 16px;
    cursor: pointer;
  }

  .auth-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.35rem;
    font-size: 12px;
    cursor: pointer;
    font-weight: none;
    text-decoration: none;
  }


  
  .auth-button:hover {
    background-color: #444;
  }
  
  .error-text {
    color: #ff4d4d;
    margin: 1rem 0;
  }
  
  .auth-footer {
    margin-top: 1rem;
    font-size: 14px;
  }
  
  .auth-footer span {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .success-message {
    font-size: 32px;
    font-weight: bold;
    animation: fadeInOut 3s ease-in-out;


  }

  .success{
    color: white;
  }
  
  @keyframes fadeInOut {
    0%, 50%, 100% { opacity: 0; }
    50%, 75% { opacity: 1; }
  }
  

  .homepage {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .homepage.fade-in {
    opacity: 1;
  }



  